#section-1{
  background-image: url('https://cdn.shopify.com/s/files/1/2321/0267/products/t-shirt-together_1024x1024@2x.jpg?v=1533305726');
  background-size: cover;
  h1{
    font-size: 5rem;
    
  }
  .felix{
    position: absolute;
    left: 20%;
    top: 20%;
  }
  .marzia{
    position: absolute;
    right: 10%;
    bottom: 10%;
    
  }
}

#section-2{
  

  h1{
    text-align: center;
    margin:0 auto;
    transition: all 0.3s linear;
    text-align: center;
  }

  .sub-btn{
    width: 25%;
    position: relative;
    margin: 0 auto; 
    z-index: 20;
  }

  .sub-btn:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top:-2px;
    left:-2px;
    border: 2px solid transparent;
    z-index: -1;
  }

  .sub-btn:hover{
    cursor: pointer;
      
  }

  .sub-btn:hover:after{
    
    animation: border-anim 2s linear forwards;
  }


}
@keyframes border-anim{
  0%{
    width: 0;
    height: 0;
    border-top-color: black;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25%{
    width: 100%;
    height: 0;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50%{
    width: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  75%{
    width: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: transparent;
    
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    background: white;
    color: pink !important;
  }
  
}